VERICLA_ENVIRONMENT=development
VERICLA_LOG_LEVEL=INFO
VERICLA_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
VERICLA_MAX_UPLOAD_SIZE_BYTES=10485760
VERICLA_DOCUMENT_CHUNK_SIZE=1500
VERICLA_DOCUMENT_CHUNK_OVERLAP=200
VERICLA_DOCUMENT_SESSION_TTL_SECONDS=3600
